/* General Styles */
@font-face{
    font-family: Miraden;
    src: url(Miraden\ Florale.otf);
}
@font-face{
    font-family: Copeland;
    src: url(Copeland.otf);
}

@font-face{
    font-family: Strike;
    src: url(Strike.otf);
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000080;
}

.dark-mode {
    background-color: black;
  }

  .dark-mode section{
    background-color: #333;
    color: white;
  }

  .dark-mode h2{
    color: white;
  }

  body, section, .flex-item{
    transition: background-color 0.3s, color 0.3s;
  }

header {
    background-image: radial-gradient( #3d8cf5,#bdcfe4);
    color: white;
    padding: 1px;
    text-align: center;
}

h1{
    font-family: "Strike";
    font-size: 50px;
    font-weight: normal;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: "Miraden";
    color: #333;
    font-size: xxx-large;
}

p.section
{
    padding-right: 30%;
}

footer {
    background-image: radial-gradient( #3d8cf5,#bdcfe4);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }
    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    .flex-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .flex-item{
        flex: 1;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        background-color: #8cb9f467;
    }
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-item{
    flex: 1 1 30%; /* Flex-grow, flex-shrink, flex-basis */
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #8cb9f467;
}

button{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #a9d1e7;
}

button:hover{
    background-color: rgb(61, 128, 221);
}

#contact
{
    margin-bottom: 60px;
}

input
{
    padding: 5px;
}

.submit-btn{
    width: 70px;
}

.error {
    color: red;
    font-size: 0.9em;
    padding: -5px;
}

html{
    scroll-behavior: smooth;
}

#topbtn{
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #3d8cf5;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    opacity: 0.5; /* Hidden by default */
}

#topbtn:hover{
    opacity: 1;        /* Fully visible on hover */
}

a {
    color: #5420b4;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
  }
  
  a:hover {
    color: #4b45fb;
    right: 0;
    text-decoration: none;
  }
  
  a:hover:after {
    border-color: #4b45fb;
    right: 0;
  }
  
  a:after {
    border-radius: 1em;
    border-top: .1em solid #4b45fb;
    content: "";
    position: absolute;
      right: 100%;
      bottom: .14em;
      left: 0;
    transition: right .4s,
                border-color .4s ease-out;
  }
  
  a:hover:after {
    animation: anchor-underline 3s infinite;
    border-color: #4b45fb;
  }
  
  @keyframes anchor-underline {
    0%, 10% {
      left: 0;
      right: 100%;
    }
    40%, 60% {
      left: 0;
      right: 0;
    }
    90%, 100% {
      left: 100%;
      right: 0;
    }
  }


form{
    padding: 50px;
    text-align: left-center;
    box-shadow: 5px 10px 18px #888;
    border-radius: 5px;
}

.dark-mode input[type="text"],
.dark-mode textarea {
    background-color: #555;
    color: white;
    border: 1px solid #888;
}
input[type="text"]
{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: 1px solid #ccc;
}

textarea
{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: 1px solid #ccc;
}

label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#submitbtn{
    font-size: 15px;
    width: 100px; ;
}