/* General Styles */
body {
    /* font-family: Arial, sans-serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000080;
}

header {
    background-image: radial-gradient( #3d8cf5,#bdcfe4);
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

p
{
    padding-right: 30%;
}

footer {
    background-image: radial-gradient( #3d8cf5,#bdcfe4);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
